@{
    ViewData["Title"] = "Home Page";
}

<div>
    @* This is where the quadrant html/c# will go *@
</div>

<div>
    <button class="btn border border-dark bg-dark bg-opacity-25 rounded mt-2" asp-controller="Home" asp-action="Add">Add Task</button>
</div>