@{
    ViewData["Title"] = "Home Page";
}

<h1>Putting First Things First</h1>
<h2>Task Manager</h2>
<div>
    @* This is where the quadrant html/c# will go *@
</div>

<div>
    <a asp-controller="Home" asp-action="Add" class="btn border border-dark bg-dark bg-opacity-25 rounded mt-2">
        Add Task
    </a></div>